<ion-header class="ion-no-border main-header-component">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img 
        src="assets/raw.png" 
        alt="Logo" 
        class="raw-logo"
      />
    </ion-buttons>
    <ion-title class="header-main-title">{{ pageTitle }}</ion-title>

    <ion-buttons slot="end">
      <ion-avatar *ngIf="isUserLoggedIn" (click)="presentPopover($event)" class="profile-avatar">
        <span>{{ userInitials }}</span>
      </ion-avatar>

      <ion-menu-button *ngIf="isUserLoggedIn"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>