<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <div class="header-logo-container" [routerLink]="['/menu-principal']">
      <img src="/assets/icon/raw.png" alt="SmartCapital Logo" class="header-logo-img">
      <ion-title class="header-logo-title">SmartCapital</ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-button *ngIf="isUserLoggedIn" class="profile-button" (click)="presentPopover($event)">
        <ion-avatar>
          <span *ngIf="userInitials">{{ userInitials }}</span>
          
          <ion-icon *ngIf="!userInitials" name="person-outline"></ion-icon>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>