<app-header></app-header>

<ion-content class="ion-padding">
  <div class="inversiones-container">
    <!-- Lista de acciones -->
    <div class="acciones-lista">
      <h3 class="titulo-acciones">ACCIONES DEL MERCADO</h3>
      <ion-list>
        <ion-item *ngFor="let accion of acciones" (click)="abrirModal(accion)">
          <ion-label>
            {{ accion.nombre }}
            <p *ngIf="accion.precio !== null && accion.cambio !== null">
              ${{ accion.precio.toFixed(2) }} |
              <span [style.color]="accion.cambio > 0 ? 'green' : accion.cambio < 0 ? 'red' : 'gray'">
                {{ accion.cambio >= 0 ? '+' : '' }}{{ accion.cambio.toFixed(2) }}%
              </span>
            </p>
            <p *ngIf="accion.precio === null || accion.cambio === null">Cargando datos...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- Consulta GPT -->
  <div class="consulta-gpt-container">
    <ion-button expand="block" class="consulta-gpt-button" (click)="irConsultaGpt()">CONSULTA GPT</ion-button>
  </div>

  <!-- Botón Atrás -->
  <div class="atras">
    <ion-button expand="block" class="atras-button" (click)="irAMenuPrincipal()">ATRÁS</ion-button>
  </div>
</ion-content>
