<app-header></app-header>

<ion-content class="ion-padding">
  <div class="dashboard-container">
    <ion-title class="title2">Nombre Familia</ion-title>

    <div class="main-circle">
      <div class="dollar-symbol">$</div>
    </div>

    <div class="button-grid">
    </div>

    <div class="lista">
      <ion-list class="list" lines="none" fill="none">
        <ion-item *ngFor="let miembro of miembros">
          <ion-label>{{ miembro.username }}</ion-label>
          
          <ion-button slot="end" fill="clear" (click)="borrarMiembro(miembro)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
      
    <ion-fab-button shape="circle" class="add-button" (click)="mostrarForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <form [formGroup]="formulario" *ngIf="mostrarFormulario">
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text" formControlName="username" autocomplete="off"></ion-input>
      </ion-item>

      <ion-button (click)="agregarMiembro()" [disabled]="formulario.invalid">Guardar</ion-button>
      <ion-button (click)="ocultarForm()">Cancelar</ion-button>
    </form>


    <div class="atras">
      <ion-button expand="block" class="atras-button" (click)="irAMenuPrincipal()">ATRAS</ion-button>
    </div>
  </div>
</ion-content>