<app-header></app-header>

<ion-content class="ion-padding">
  <div class="upload-container">
    <h2>Antes de continuar, ingresa tu cartola de gastos en formato PDF</h2>

    <div class="upload-box">
      <ion-icon name="arrow-up-outline" class="upload-icon"></ion-icon>
      <p>Arrastra o sube un archivo</p>
    </div>

    <div class="consulta-gpt-container">
      <ion-button expand="block" class="consulta-gpt-button" (click)="irAListaGastos()">Cargar Documento</ion-button>
    </div>

    <div class="atras">
      <ion-button expand="block" class="atras-button" (click)="irAMenuPrincipal()">ATRAS</ion-button>
    </div>
  </div>
</ion-content>
