<app-header></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Archivo Cartola (.xlsx)</ion-label>
      <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" required>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!selectedFile">Subir Cartola</ion-button>
  </form>

  <ion-text *ngIf="mensaje" color="primary">
    <p>{{ mensaje }}</p>
  </ion-text>
</ion-content>
