<ion-header>
  <ion-toolbar>
    <img src="assets/tralalero.png" class="tralalero" />
    <ion-title class="title">GEPETE ECONOMICS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dashboard-container">
    <h2>BIENVENIDO “NOMBRE”</h2>

    <div class="main-circle">
      <div class="dollar-symbol">$</div>
    </div>

    <div class="button-grid">
      <div class="column">
        <ion-button expand="block" class="side-button">FAMILIA</ion-button>
        <ion-button expand="block" class="side-button" (click)="irAInversiones()">
          INVERSIONES
        </ion-button>
      </div>
      <div class="column">
        <ion-button expand="block" class="side-button">GASTOS</ion-button>
        <ion-button expand="block" class="side-button">CONSULTA GPT</ion-button>
      </div>
    </div>

    <div class="modo-oscuro">
      <small>Modo oscuro</small>
      <ion-icon name="moon-outline"></ion-icon>
    </div>
  </div>
</ion-content>
