/* Define un fondo semi-transparente para el overlay que aparece sobre la página principal cuando el menú está abierto */
ion-menu::part(backdrop) {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para el contenedor del menú */
ion-menu::part(container) {
  border-radius: 0 16px 16px 0;
  box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.1);
}

/* Encabezado del menú (donde dice "Menú") */
ion-menu ion-header ion-toolbar {
  --background: #f7f7f7;
  --color: #1c1c1e;
  --border-width: 0 0 1px 0;
  --border-color: #e0e0e0;
  
  ion-title {
    font-weight: 600;
  }
}

/* Contenido principal del menú (la lista de opciones) */
ion-menu ion-content {
  --background: #ffffff;
  --color: #333333;
}

/* Estilos para CADA OPCIÓN del menú (ion-item) */
ion-list ion-item {
  --padding-start: 24px;
  --inner-padding-end: 16px;
  --color: #444444;
  --ripple-color: var(--ion-color-primary);
  --background: transparent; 
  font-weight: 500;
  transition: background-color 0.2s ease;

  ion-icon {
    color: #777777;
    margin-right: 20px;
    font-size: 1.2rem;
    transition: color 0.2s ease;
  }
  
  &:hover {
    --background: rgba(var(--ion-color-primary-rgb), 0.05);
  }

  &.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
    --color: var(--ion-color-primary);
    font-weight: 700;
    
    border-left: 4px solid var(--ion-color-primary);
    --padding-start: 20px;

    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

/* Footer del menú (donde está "Opciones") */
ion-menu ion-footer ion-toolbar {
  --background: #f7f7f7;
  --border-width: 1px 0 0 0;
  --border-color: #e0e0e0;
}