.atras-button {
    position: absolute;
    width: 120px;
    background-color: #2d2d2d;
    color: white;
    top: 85%;        /* centra verticalmente */
    left: 1%;         /* pegado al borde izquierdo */
}
