.atras-button {
    position: absolute;
    width: 80%; // más adaptable en móvil
    max-width: 120px;
    color: white;
    top: 85%;
    left: 5%; // un poco más separado en pantallas pequeñas
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  /* Estilos para pantallas grandes (tablet, escritorio) */
  @media (min-width: 768px) {
    .atras-button {
      width: 120px;
      font-size: 18px;
      left: 1%; // vuelve a estar más pegado al borde
    }
  }
