.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  padding: 16px;
  position: relative;
}



.botones-container {
  display: flex;
  justify-content: center;   /* Centra los botones horizontalmente */
  align-items: center;       /* Centra los botones verticalmente */
  gap: 16px;                 /* Espacio entre los botones */
  margin-top: 20px;          /* Ajuste de margen superior */
  flex-wrap: wrap;           /* Los botones se ajustarán en pantallas pequeñas */
  height: 90%;              /* Asegura que el contenedor ocupe toda la altura disponible */
}



