<ion-header>
  <ion-toolbar>
    <img src="assets/tralalero.png" class="tralalero" />
    <ion-title class="title">Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="opciones-container">
    <ion-button expand="block" class="option-button">CERRAR SESIÓN</ion-button>
    <ion-button expand="block" class="option-button">BORRAR CUENTA</ion-button>
    <ion-button expand="block" class="option-button" (click)="irAMenuPrincipal()">SALIR</ion-button>
  </div>
</ion-content>
