.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}
  
  .side-bar {
  position: absolute;     // o "fixed" si querés que quede ahí aunque haya scroll
  top: 60px;              // margen superior
  left: 20px;             // margen izquierdo
  width: 200px;
  padding: 10px;
  background: rgb(36, 35, 35);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // opcional, para que se vea más como un panel flotante
  z-index: 5;             // opcional, para asegurarte de que quede por encima si lo necesitás
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .tralalero {
    position: absolute;
    top: -5px;
    left: 5px;
    width: 80px;
  }

  .gear-icon {
    width: 100px;
    height: 30px;
    position: relative;
    top: 1px;      // hacia abajo
    right: 1px;   // hacia la derecha
  }
  
  .menu-title {
    font-weight: bold;
  }
  
  .menu-description {
    font-size: 12px;
    color: gray;
  }
  
  .modo-oscuro {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .atras-button {
    position: absolute;
    width: 120px;
    background-color: #2d2d2d;
    color: white;
    top: 90%;        /* abajo verticalmente */
    left: 6%;         /* pegado al borde izquierdo */
}
  
  .icon-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
  }
  
  .main-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    margin: 250px 0;
  }
  
  .dollar-symbol {
    font-size: 128px;
    font-weight: bold;
  }
  
  .consulta-form {
    position: absolute;
    bottom: 20px;
    left: 450px;
    display: flex;
    gap: 5px;
  }
  
  input {
    width: 1000px;
    padding: 5px;
  }

  ion-content{
    position: relative;
  }
  