<ion-header>
  <ion-toolbar>
    <img src="assets/tralalero.png" class="tralalero" />
    <ion-title class="title">GEPETE ECONOMICS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <img src="assets/gear.png" class="gear-icon" />
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dashboard-container">
    <h2>Gastos</h2>

    <div class="gastos-list">
      <ion-list>
        <ion-item *ngFor="let gasto of gastos"> {{ gasto }} </ion-item>
      </ion-list>
    </div>

    <ion-button class="gastos-btn">
      Hacer consulta sobre gastos
    </ion-button>

    <div class="modo-oscuro">
      <small>Modo oscuro</small>
      <ion-icon name="moon-outline"></ion-icon>
    </div>
  </div>
</ion-content>