<app-header></app-header>

<ion-content class="ion-padding">
  <div *ngIf="cargando" class="cargando">Cargando datos...</div>
  <div *ngIf="mensaje && !cargando" class="error">{{ mensaje }}</div>

  <div class="graficos-container" *ngIf="!cargando && dataGastos && dataAbonos">
    <div class="grafico">
      <h3>Distribución de Gastos</h3>
      <canvas baseChart
              [data]="dataGastos"
              [type]="'doughnut'">
      </canvas>
    </div>

    <div class="grafico">
      <h3>Distribución de Abonos</h3>
      <canvas baseChart
              [data]="dataAbonos"
              [type]="'doughnut'">
      </canvas>
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-buttons">
      <ion-button 
        expand="block" 
        fill="solid" 
        color="medium"
        (click)="irASubirCartola()"
        class="footer-btn">
        <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
        Subir Nueva Cartola
      </ion-button>

      <ion-button 
        expand="block" 
        fill="solid" 
        color="dark"
        (click)="consultarIA()"
        class="footer-btn">
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        Consultar a IA Según Mis Gastos
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
