.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
  padding: 16px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-left: 70px;
  font-weight: bold;
}

.tralalero {
  position: absolute;
  top: -5px;
  left: 5px;
  width: 60px;
}

.gear-icon {
  width: 80px;
  height: 30px;
  position: relative;
  top: 1px;
  right: 1px;
}

.gastos-list {
  width: 90%;
  max-width: 700px;
  background-color: gray;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.gastos-btn {
  margin-top: 20px;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
}

.modo-oscuro {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }

  .tralalero {
    width: 80px;
  }

  .gear-icon {
    width: 100px;
  }

  .gastos-list {
    font-size: 16px;
  }

  .gastos-btn {
    font-size: 16px;
    width: auto;
  }
}
