<app-header></app-header>

<ion-content class="ion-padding">
  <div *ngIf="cargando" class="cargando">Cargando datos...</div>
  <div *ngIf="mensaje && !cargando" class="error">{{ mensaje }}</div>

  <div class="graficos-container" *ngIf="!cargando && dataGastos && dataAbonos">
    <div class="grafico">
      <h3>Distribución de Gastos</h3>
      <canvas baseChart
              [data]="dataGastos"
              [type]="'doughnut'">
      </canvas>
    </div>

    <div class="grafico">
      <h3>Distribución de Abonos</h3>
      <canvas baseChart
              [data]="dataAbonos"
              [type]="'doughnut'">
      </canvas>
    </div>
  </div>
  
  <div class="boton-subir-cartola">
    <ion-button color="primary" expand="block" (click)="irASubirCartola()">
      <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      SUBIR NUEVA CARTOLA
    </ion-button>
  </div>
</ion-content>
